<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tasks</h1>

    <form action="{% url 'create_task' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Write a title">
        <textarea name="description" rows="3"></textarea>
        <button>Save</button>
    </form>

    {% for task in tasks %}
    <div>
        {{task.title}}
        {{task.description}

    </div>
    {% endfor %}

</body>
</html>